<!DOCTYPE html>
<html>
  <head>
    <title>Bidchat Rest API Assignment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="font-family:Arial, Helvetica, sans-serif; font-size: 14px;padding: 50px">
    <h1><u>Bidchat REST API Assignment</u></h1><br/>
		List of ProductLines - http://localhost:3200/api/productlines        
		<br/><br/>	
		List of Orders - http://localhost:3200/api/listorders/:customerNumber
		
		<br/><br/>	
		Order Details - http://localhost:3200/api/listorderdetails/:orderNumber
		
		<br/><br/>	
		List of all products - http://localhost:3200/api/listproducts
		
		<br/><br/>	
		product details - http://localhost:3200/api/listproductdetails/:productCode
  </body>
</html>